h1,
h3 {
  text-align: center;
}
h2 {
  margin: 0px;
}

canvas {
  border: 2px black solid;
  margin: 0 1em 1em;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.input--dimension_input {
  width: 10em;
  height: 1.5em;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
}

.input--dimension_input:focus {
  outline-color: #ff471a;
}

#start_button {
  width: 20em;
  height: 3em;
  border-radius: 10px;
  background-color: #ff5050;
}


